
@{
    ViewData["Title"] = "Admin Control Index";
}

<h4><a class="navbar-brand text-dark" asp-area="" asp-controller="Admin" asp-action="UserIndex">User Management</a></h4>
<h4><a class="navbar-brand text-dark" asp-area="" asp-controller="Admin" asp-action="RoleIndex">Role Management</a></h4>