@{
    ViewData["Title"] = "Forum";
}
<div class="container border">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <h3 class="text-center">Please be respectful</h3>
    <!--start list of topics-->
    <div class="container border m-2">
        <h3 class="text-center">Topics</h3>
        @for (int i = 0; i < ViewBag.Topics.Count; i++)
        {
            <a asp-action="Topic" asp-controller="Forum" asp-route-t="@ViewBag.Topics[i].ForumTopicId" class="btn btn-success">Attend</a>




        }
    </div>
</div>