@model SurveyModel

@{
    ViewData["Title"] = "Survey Page";
}

<div id="body">
    <div id="SurveyQs">
        <h2>Hey UserName!</h2>
        <p>
            We sincerely hope you are enjoying this site! We are constantly looking for ways that we can
            improve this site, and want to make sure that those additions are meaningful to everyone.
            Please take a moment to let us know what you think of the site so far, and how we could improve.
        </p>
        <form method="post" asp-action="Index">
            <div id="Q1">
                <label>
                    In a few words pleae tell us what you'd like to see added, or adjusted to this site.
                </label>
                <br />
                <textarea asp-for="Question1" rows="3" cols="50" style="resize: none"></textarea>
            </div>
            <br />
            <div id="Q2">
                <label>
                    Please let us know what current aspects of the site you like. Our developers love to
                    hear that people are enjoying the things they've made.
                </label>
                <br />
                <textarea asp-for="Question2" rows="3" cols="50" style="resize: none"></textarea>
            </div>
            <br />
            <div id="Q3">
                <label>
                    On a scale from 1 (Not Good) to 5 (Super Good!), how would you rate this app?
                </label>
                <br />
                <input asp-for="Question3" type="radio" name="siteRating" value="1"/>
                <label>1</label>
                <input asp-for="Question3" type="radio" name="siteRating" value="2"/>
                <label>2</label>
                <input asp-for="Question3" type="radio" name="siteRating" value="3"/>
                <label>3</label>
                <input asp-for="Question3" type="radio" name="siteRating" value="4"/>
                <label>4</label>
                <input asp-for="Question3" type="radio" name="siteRating" value="5"/>
                <label>5</label>
            </div>
            <br />
            <div id="Q4">
                <label  asp-for="Question4">
                    On a scale from 1 (Not Likely) to 5 (Super Likely!),
                </label>
                <br />
                <label><input asp-for="Question4" type="radio" name="siteReferable" value="1" />1</label>
                <input asp-for="Question4" type="radio" name="siteReferable" value="2"/>
                <label>2</label>
                <input asp-for="Question4" type="radio" name="siteReferable" value="3"/>
                <label>3</label>
                <input asp-for="Question4" type="radio" name="siteReferable" value="4"/>
                <label>4</label>
                <input asp-for="Question4" type="radio" name="siteReferable" value="5"/>
                <label>5</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">SUBMIT!</button>
            </div>
        </form>
    </div>
    <div id="Results">
        <p>
            Post submit results will be displayed here temporarily: 
        </p>
        <br />
        <div>
            @if(Model != null)
            {
                <div id="Answers">
                    <label>Suggestions for future additions:</label>
                    <br />
                    <p>@Model.Question1</p>
                    <label>Things you like about our site as it is:</label>
                    <br />
                    <p>@Model.Question2</p>
                    <label>Site rating:</label>
                    <br />
                    <p>@Model.Question3</p>
                    <label>How recommendable this site is:</label>
                    <br />
                    <p>@Model.Question4</p>
                </div>
            }
        </div>
    </div>
</div>

