<style>
    .logo {
        padding: 0px;
        margin: 0px;
    }

    .header {
        background-image: linear-gradient(to left, #191970, #3CE7FD, #CCF2FF);
    }
</style>

<header class="header">
    <!--<partial name="_LogoPartial" />-->
    <div>
        <!--
                Replace with DisOriented Programming Logo
            <img src="~/microsoft-sql-server.svg" id="logo" class="float-left" height="100" style="margin-top: 4px; margin-left: 4px" />
                
                Replace with CodeORcreate logo
            <img src="~/pass-core-logos-for-delivery-02.png" class="float-right" height="100" />
            
        -->
        <h1 class="text-lg-center font-weight-bold text-success display-2" style="margin-top: 0px;">
            Life Quest
        </h1>
    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <partial name="_LoginPartial" />
                
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark h4" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark h4" asp-area="" asp-controller="Resource" asp-action="Index">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark h4" asp-area="" asp-controller="Forum" asp-action="Index">Community Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark h4" asp-area="" asp-controller="Survey" asp-action="TakeSurvey">Site Survey</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>