@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" />
<div class="border home-div p-3">
    <h1 class="text-center display-2">Welcome</h1>
    <h3 class="text-center">Enjoy your stay!</h3>

    <hr>
    <h1>Life Quest</h1>
    <h3>Mission Statement</h3>
    <p class="Big-Home">Life Quest is a safe space for individuals seeking to improve themselves and help others do the same.</p>
    <p class="Big-Home">We have gathered a list of resources to help you in your quest for a better life. In the future, we hope to gamify self-improvement through the creation of a Role-playing game that rewards you for completing self-care tasks and supporting others in our forum.</p>
    <p class="Big-Home">We are constantly seeking to improve. If you have any questions or comments, please fill out our site survey. Your feedback is invaluable to us as our journey to improve never ends.</p>
</div>
