@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" />
<div class="border home-div p-3">
    <h1 class="text-center display-2">Welcome</h1>
    <h3 class="text-center">Enjoy your stay!</h3>

    <hr>
</div>
